/* Custom fonts */

@font-face
{
    font-family: 'BallparkWeiner';
    src: url('font/ballpark.eot');
    src: url('font/ballpark.eot?#iefix') format('embedded-opentype'),
         url('font/ballpark.woff') format('woff'),
         url('font/ballpark.ttf') format('truetype'),
         url('font/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Dayrom';
    src: url('font/dayrom.eot');
    src: url('font/dayrom.eot?#iefix') format('embedded-opentype'),
         url('font/dayrom.woff') format('woff'),
         url('font/dayrom.ttf') format('truetype'),
         url('font/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Kaushan';
    src: url('font/KaushanScript-Regular.otf') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
    font-size: x-large;
}

/********/
/* Body */
/********/
* html {
    min-height: 100vh;
    margin: 10px;
    padding: 0;
    position: relative;
}

body
{
    background: url('images/purple_background.jpg');
    font-family: Kaushan, 'Trebuchet MS', Arial, sans-serif;
    color: bisque;
    min-height: 100vh;
    min-width: 1000px;
    _width: expression( document.body.clientWidth > 1000 ? "1000px" : "auto" );
}

#bloc_page
{
    min-height: 100vh;
    position: relative;
    /* Equal to height of footer */
    padding-bottom: 50px;
}

h1
{
    display: flex;
    font-size: 4em;
    font-family: 'BallparkWeiner', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    padding-top: 20px;
}


/**********/
/* Header */
/**********/

header
{
    font-family: Dayrom, serif;
    background: url('images/separateur.png') repeat-x bottom;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color:bisque;
}

#logo
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#logo img
{
    width: 50px;
    height: 40px;
}


/**************/
/* Navigation */
/**************/

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 15px;
}

nav a
{
    font-size: 1.3em;
    color:bisque;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}


/************/
/* Category */
/************/

#best_movie
{
    display: flex;
    height: fit-content;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    margin-top: 50px;
}

.best_movie_title
{
    font-size: 4em;
    padding-bottom: 5%;
    align-items: center;
    justify-content: center;
}

.best_movie_title p
{
    margin: 1em 1em 0 1em;
    min-width: 8em;
}

.play_button
{
    position: relative;
    background-image: linear-gradient(to bottom right, red, rgb(200, 100, 100));
    display:inline-block;
    padding:0.15em 0.6em;
    margin:2em 5em 0 5em;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-size: 60%;
    color:bisque;
    text-align:center;
    transition: all 2s;
    }
.play_button:hover{
    background-image: linear-gradient(to bottom right, white,bisque);
    color: red;
}

#best_rating
{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -12px 0 0 -12px;
    width: calc(100% + 12px);
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    width: 99.5%;
    min-height: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    font-size: 0.8em;
}

.category
{
    min-height: 21em;
}

/* Footer */

footer
{
    display: flex;
    background:  url('images/separateur.png') repeat-x top, url('images/ombre.png') repeat-x top;
    padding-bottom: 50px;
    min-width: 100%;
}


/* Arrow */
.right_arrow {
    width: 0; 
    height: 0; 
    border-top: 10.5em solid transparent;
    border-bottom: 10.5em solid transparent;
    border-left: 40px solid bisque;
    position: relative;
    float: right;
  }
  
.left_arrow {
    width: 0; 
    height: 0; 
    border-top: 10.5em solid transparent;
    border-bottom: 10.5em solid transparent;
    border-right:40px solid bisque;
    position: relative;
    float: left;
  }
  
.no_arrow {
    width: 0; 
    height: 0; 
    border-top: 10.5em transparent;
    border-bottom: 10.5em transparent;
    border-right:40px;
    position: relative;
    float: left;
  }


/* Modal */
.modal{
    z-index: 3;
    display: flex;
    justify-content: center;
    padding: 4em;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color:rgba(0,0,0,0.4)
}

.modal_content
{
    background-color: navy;
    position: relative;
    padding: 0;
    outline: 0;
    min-width: 600px;
    max-width: 45em;
    margin-bottom: 15em;
    overflow-y : auto;
}

.modal_container
{
    display: block;
    padding: 1em 4em;
}

.modal h1 {
    color:  bisque;
    font-size: 4em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
}

.modal h2 {
    text-decoration: underline bisque;
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 1em;
}


.animate_modal
{
    animation: animatezoom 2s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important;
    box-sizing: border-box;
}

.film_picture {
    display: flex;
    justify-content: center;
}

.Description {
    text-align: justify;
    margin-bottom: 1em;
}

.closebtn {
    position: absolute;
    padding: 1em !important;
    right: 0;
    top: 0;
    text-decoration: none;
    float: right;
    font-size: 20px;
    font-weight: bold;
}

.closebtn:hover {
background-color:red;
color:bisque;
box-shadow:0 8px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}